
p {
    color: #ead9e1;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-decoration: underline;
    font-weight: bold;
    font-family: Quintessential, Arial, Helvetica, sans-serif
}

.content-box{
    text-align: center
    
}

body,
head {
    background-color: #565a75;
}

.navigation{
    text-align: center
}

a{
    color: #fafbf6
}




