*,
*::before,
*::after {
    box-sizing: border-box;
}

/* stuff that doesn't change */

p,
table,
label {
    color: #ead9e1;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
    font-family: Quintessential, Arial, Helvetica, sans-serif;
}

body,
head {
    background-color: #c6b7be;
}

a {
    color: #fafbf6;
}

.game-syp {
    padding: 10px;
    margin: auto;
    border: 8px solid #444;
    border-radius: 10px;
    background-color: #30304c;
    box-shadow: 0 4px 8px rbga(0,0,0,0.8);
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
  
    max-width: 100%;
}

.game-logo {
    max-width: 100%;
}

.score-logo {
    max-width: 50%;
}

.map-image {
    max-width: 100%;
}

.pantheon-image {
    max-width: 25%;
}

.city-image {
    max-width: 375px;
}

.characters-image {
    max-width: 50%;
    float: right;
    margin: 10px;
}

.main-title {
    text-align: center;
    font-size: 65px;
}

.centred-content {
    max-width: 1000px;
    max-height: 2500px;
    background-color: #565a75;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.navbar {
    text-align: center;
    width: 100%;
}

.navbutton {
    background-color: #0f0f1b;
    border: 2px dashed #444;
    width: 100%;
    margin: -2px;
    height: 60px;
    vertical-align: middle;
    padding: 10px;
}

/* tablet and up */
@media (min-width: 830px) {
    .navbutton {
        display: inline-block;
        width: 25%;
        margin: 5px;
    }

    .city-image {
        max-width: 75%;
    }
}

/* large desktop */
@media (min-width: 1240px) {
    .navbutton {
        display: inline-block;
        width: 150px;
        margin: 10px;
    }

    .city-image {
        max-width: 75%;
    }
}
